input{
    font-family: Gilroy-Bold;
    font-size: 100px;
    border: 0px solid;
    width:100%;
    padding:50px;
    background-color: transparent;
    position: absolute;
	top:0;
	bottom: 0px;
	left: 0;
	right: 0;
  	
	margin: auto;
}

x{
    position: absolute;
	top:250px;
	bottom: 40px;
	left: 0;
	right: 0;
    
    font-family: Gilroy-Bold;
    font-size: 30px;
    border: 0px solid;
    width:100%;
    padding:50px;
    background-color: transparent;
}

body{
    background-image: url("/00100dPORTRAIT_00100_BURST20180210121807774_COVERgood.jpg");
    background-size: cover;
}
